header {
    background: #bbbb;
}

nav {
    position: absolute;
    top:110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}
nav a{
text-transform: uppercase;
color: #000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
nav a:hover{ /*tres fatias de torta*/

    color: #c78c19c;

}
.produtos{

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
